@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
    --havorang: #40BFFF;
    --qizil: #FF4858;
    --moviy: #BCDDFE;
    --qora: #373737
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    width: 100%;
    background: #fff;
    font-family: 'Poppins', sans-serif;
}
.container {
    width: 100%;
    margin: 0 auto;
}
i:hover{
    cursor: pointer;
}
.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    /* Sardor orqa fon berdi */
    background-color: #fff;
    z-index: 2;
}
.upper-menu{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 50px;
    font-size: 13px;
    border-bottom: 1px solid rgb(230, 229, 229);
}
.dropbtn {
    background-color: transparent;
    color: var(--qora);
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
.en-usd{
    position: relative;
}
.en-usd ul{
    display: flex;
}
.en-usd ul li{
    margin-right: 8px;
}
.profile-cart{
    position: relative;
}
.profile-cart ul{
    display: flex;
}
.profile-cart ul li{
    margin-left: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile-cart ul li a{
    color: var(--qora);
}


.main-menu{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 0 50px;
}
.main-menu .logo{
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-menu .logo a{
    font-size: 14px;
    margin-left: 4px;
    color: var(--qora);
}
.main-menu .main-menu-options{
    position: relative;
}
.main-menu .main-menu-options ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-menu .main-menu-options ul li{
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-menu .main-menu-options ul li a{
    font-size: 16px;
    color: var(--qora);
    transition: 0.2s;
}
.main-menu .main-menu-options ul li a.active-link{
    color: var(--havorang);
}
.main-menu .main-menu-options ul li a:hover{
    color: var(--havorang)
}


/* Main - Sardor (21.12.2022 14:38) */
    .bg-image {
        height: 90vh;
        background-image: url("./images/product-images/main-image.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .main-text {
        font-size: 2rem;
        color: #fff;
        padding: 50vh 0 30vh 5vw;
    }
    .new-products {
        width: 90%;
        border-radius: 5px;
        margin: -50px auto 0 auto ;
        display: flex;
        justify-content: center;
        bottom: 100px;
        background-color: #fff;
    }
    .new-products__item{
        width: 33.33%;
        position: relative;
    }
    .new-products__item > img {
        max-width: 100%;
        height: 100%;
    }
    .product-description {
        position: absolute;
        text-transform: uppercase;
        top: 30px;
        left: 50px;
        font-weight: 800;
        font-size: 1.2em;
        color: #223263;
    }
    /* Best sellers */
    .best-seller {
        margin: 0 auto;
        text-align: center;
    }
    .best-seller__nav-items {
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 50px;
    }
    .best-seller__nav-item > a{
        color: var(--qora);
    }
    .best-seller__nav-item > a:hover{
        border-bottom: 3px solid var(--havorang);
        color: var(--havorang);
    }

    .best-seller__products{
        /* position: relative; */
        width: 90vw;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .best-seller__product {
        width: 250px;
        padding: 10px;
        margin: 10px 0;
        position: relative;
        border: 1px solid #F6F6F6;
    }

    .best-seller__product img {
        width: 230px;
        transform-style: preserve-3d;
        transition: all 0.5s ease; 
    }

    div.rates img{
        width: 20px;
    }
    .price {
        color:#40BFFF;
        font-size: 1rem;
    }
    .real-price {
        font-size: 0.8rem;
        color: gray;
        font-weight: 200;
        padding: 0 10px;
    }
    .discount {
        color: #FB7181;
        font-size: 0.9rem;
    }


/* /Main */

.footer{
    width: 100%;
    height: auto;
    margin-top: 30px;
    background-color: var(--moviy);
    padding: 0 50px 0 50px;
}
.footer .upper-footer, .footer .lower-footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    padding: 20px 0;
}
.footer .upper-footer .footer-info,
 .footer .lower-footer .footer-info{
    display: flex;
    flex-direction: column;
    width: 120px;
}
.footer .upper-footer .footer-info:first-child{
    width: 200px;
}
.footer .upper-footer .footer-info a, p, h3{
    color: var(--qora);
}
.footer .upper-footer .footer-info .footer-logo a{
    font-size: 1.1rem;
    font-weight: 600;
}
.footer .upper-footer .footer-info p,
 .footer .lower-footer .footer-info p{
    font-size: 12px;
}
.footer .upper-footer .footer-info .footer-social i{
    margin-right: 10px;
}
.footer .upper-footer .footer-info .footer-social i.fa-facebook-f{
    color: #054b6e;
}
.footer .upper-footer .footer-info .footer-social i.fa-twitter{
    color: #127cb1;
}

.main-menu .main-menu-options #check,
.main-menu .main-menu-options label .fa-bars-staggered,
.main-menu .main-menu-options label .fa-xmark{
    display: none;
}
.mobile-bottom-nav{
    display: none;
}
@media screen and (max-width: 480px) {
    .upper-menu{
        display: none;
    }
    .mobile-bottom-nav {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        will-change: transform;
        transform: translateZ(0);
        display: flex;
        height: 50px;
        box-shadow: 0 -2px 5px -2px #333;
        background-color: #fff;
      }
      .mobile-bottom-nav__item {
        flex-grow: 1;
        text-align: center;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .mobile-bottom-nav__item--active {
        color: var(--havorang);
      }
      .mobile-bottom-nav__item-content {
        display: flex;
        flex-direction: column;
      }

      /* Sardor */
      
}

@media screen and (max-width: 768px) {
    .main-menu .logo a{
        font-size: 14px;
        margin-left: 4px;
        color: var(--qora);
    }
    .main-menu .main-menu-options{
        position: relative;
    }
    .main-menu .main-menu-options ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        background-color: #f2f2f2;
        width: 300px;
        height: 100%;
        top: 0;
        bottom: 0;
        z-index: 1;
        right: -300px;
        transition: 0.3s;
    }
    .main-menu .main-menu-options #check,
    .main-menu .main-menu-options label i.fa-xmark{
        opacity: 0;
        right: 0;
        font-size: 22px;
    }
    .main-menu .main-menu-options label .fa-bars-staggered,
    .main-menu .main-menu-options label .fa-xmark{
        display: block;
    }
    .main-menu .main-menu-options #check:checked ~ ul {
        right: 0;
    }
    .main-menu .main-menu-options #check:checked ~ label i.fa-xmark{
        opacity: 1;
        position: fixed;
        z-index: 100;
        right: 250px;
        transition: 0.3s;
    }
    .main-menu .main-menu-options ul li{
        margin-left: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }
    .main-menu .main-menu-options ul li a{
        font-size: 16px;
        color: var(--qora);
        transition: 0.2s;
    }
}