@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "proxima";
  src: url("./proxima/ProximaNova-Regular.otf");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --havorang: #40bfff;
  --qizil: #ff4858;
  --moviy: #bcddfe;
  --qora: #373737;
}

body {
  width: 100%;
  background: #fff;
  font-family: "Poppins", sans-serif;
}

.total-container {
  position: relative;
  min-height: 263px;
  /* Sardor vaqtincha yozdi */
}

.total-container i:hover {
  cursor: pointer;
}

.total-container .header {
  height: 15vh;
}

.total-container .header .header-nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 2;
}

.total-container .upper-menu {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px 0 50px;
  font-size: 13px;
  border-bottom: 1px solid #e6e5e5;
}

.total-container .dropbtn {
  background-color: transparent;
  color: var(--qora);
  border: none;
  cursor: pointer;
}

.total-container .dropdown {
  position: relative;
  display: inline-block;
}

.total-container .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.total-container .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.total-container .dropdown-content a:hover {
  background-color: #f1f1f1;
}

.total-container .dropdown:hover .dropdown-content {
  display: block;
}

.total-container .en-usd {
  position: relative;
}

.total-container .en-usd ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.total-container .en-usd ul li {
  margin-right: 8px;
}

.total-container .profile-cart {
  position: relative;
}

.total-container .profile-cart ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.total-container .profile-cart ul li {
  margin-left: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.total-container .profile-cart ul li a {
  color: var(--qora);
}

.total-container .main-menu {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px 0 50px;
}

.total-container .main-menu .logo {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.total-container .main-menu .logo a {
  font-size: 14px;
  margin-left: 4px;
  color: var(--qora);
}

.total-container .main-menu .main-menu-options {
  position: relative;
}

.total-container .main-menu .main-menu-options ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.total-container .main-menu .main-menu-options ul li {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.total-container .main-menu .main-menu-options ul li a {
  font-size: 16px;
  color: var(--qora);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.total-container .main-menu .main-menu-options ul li a.active-link {
  color: var(--havorang);
}

.total-container .main-menu .main-menu-options ul li a:hover {
  color: var(--havorang);
}

.total-container .product-menu {
  font-family: "proxima";
  background-color: #f6f7f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.total-container .product-menu .product-menu__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  width: 1260px;
  height: 51px;
}

.total-container .product-menu .product-menu__content .title-name {
  text-decoration: none;
  color: #33a0ff;
  font-size: 18px;
  font-weight: 400;
}

.total-container .product-menu .product-menu__content .title-name:nth-child(3) {
  color: #262626;
}

.total-container .product-info {
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}

.total-container .product-info .product-info__items {
  width: 1260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 61px;
}

.total-container .product-info .product-info__items .product-info__box {
  width: 100%;
}

.total-container .product-info .product-info__items .product-info__box .box-types {
  width: 100%;
}

.total-container .product-info .product-info__items .product-info__box .box-types .box-type__titles {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 20px;
  border-bottom: 1px solid #f6f7f8;
}

.total-container .product-info .product-info__items .product-info__box .box-types .box-type__titles .title {
  width: 52%;
  font-weight: 500;
  font-size: 20px;
  color: #22262a;
}

.total-container .product-info .product-info__items .product-info__box .box-types .box-type__titles .box-type__content {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.total-container .product-info .product-info__items .product-info__box .box-types .box-type__titles .box-type__content .content-title {
  font-weight: 500;
  font-size: 20px;
  color: #22262a;
}

.total-container .product-info .product-info__items .product-info__box .product-table {
  width: 100%;
}

.total-container .product-info .product-info__items .product-info__box .product-table .product-table__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 63px;
  padding-bottom: 53px;
  border-bottom: 1px solid #f6f7f8;
}

.total-container .product-info .product-info__items .product-info__box .product-table .product-table__list .product-table__img {
  width: 52%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.total-container .product-info .product-info__items .product-info__box .product-table .product-table__list .product-table__img .table-icon {
  width: 23px;
  height: 22px;
}

.total-container .product-info .product-info__items .product-info__box .product-table .product-table__list .product-table__img .table-img {
  width: 138px;
  height: 94px;
  margin: 15px 25px;
}

.total-container .product-info .product-info__items .product-info__box .product-table .product-table__list .product-table__img .product-table__title {
  font-size: 18px;
  font-weight: 400;
  color: #262626;
}

.total-container .product-info .product-info__items .product-info__box .product-table .product-table__list .product-table__info {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.total-container .product-info .product-info__items .product-info__box .product-table .product-table__list .product-table__info .info-title1,
.total-container .product-info .product-info__items .product-info__box .product-table .product-table__list .product-table__info .info-title2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #262626;
}

.total-container .product-info .product-info__items .product-info__box .product-table .product-table__list .product-table__info .info-title2 {
  width: 20%;
}

.total-container .product-info .product-info__items .product-info__box .product-table .product-table__list .product-table__info .product-collect {
  font-family: "proxima";
  background-color: #f6f7f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 124px;
  height: 46px;
  padding: 0 18px;
}

.total-container .product-info .product-info__items .product-info__box .product-table .product-table__list .product-table__info .product-collect .product-collect__number {
  color: #262626;
  font-size: 18px;
  font-weight: 400;
}

.total-container .product-info .product-info__items .product-info__box .product-table .product-table__list .product-table__info .product-collect .product-collect__dash,
.total-container .product-info .product-info__items .product-info__box .product-table .product-table__list .product-table__info .product-collect .product-collect__add {
  color: #33a0ff;
  font-size: 20px;
  cursor: pointer;
}

.total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box {
  border-bottom: 1px solid #e6e5e5;
  width: 250px;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box .card-img {
  width: 150px;
  border-radius: 5px;
}

.total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box .box-card__content .content-title {
  font-size: 32px;
  font-weight: 500;
}

.total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box .box-card__content .box-card__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box .box-card__content .box-card__quantity .card-quantity {
  width: 128px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-right: 8px;
  border-radius: 3px;
  background-color: #f6f7f8;
  cursor: pointer;
}

.total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box .box-card__content .box-card__quantity .card-quantity .dash,
.total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box .box-card__content .box-card__quantity .card-quantity .number,
.total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box .box-card__content .box-card__quantity .card-quantity .add {
  border-radius: 3px;
  font-size: 21px;
  font-weight: 500;
}

.total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box .box-card__content .box-card__quantity .card-quantity .add,
.total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box .box-card__content .box-card__quantity .card-quantity .dash {
  color: #33a0ff;
}

.total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box .box-card__content .box-card__quantity .card-money {
  font-size: 22px;
  font-weight: 600;
}

.total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box .card-icon {
  width: 30px;
  height: 25px;
}

.total-container .product-info .product-info__items .product-info__box .product-table .product-card {
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 90px;
  padding: 0 26px;
}

.total-container .product-info .product-info__items .product-info__box .product-table .product-card .product-card__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.total-container .product-info .product-info__items .product-info__box .product-table .product-card .product-card__input .input {
  padding-left: 10px;
  width: 367px;
  height: 58px;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 16px;
  border: 1px solid #f1f3f4;
}

.total-container .product-info .product-info__items .product-info__box .product-table .product-card .product-card__input .input-btn {
  width: 118px;
  height: 60px;
  color: #fff;
  font-weight: 500;
  background-color: #33a0ff;
  border-radius: 0 5px 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.total-container .product-info .product-info__items .product-info__box .product-table .product-card .product-sum {
  width: 375px;
  margin: 0 auto;
}

.total-container .product-info .product-info__items .product-info__box .product-table .product-card .product-sum .sum-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.total-container .product-info .product-info__items .product-info__box .product-table .product-card .product-sum .sum-name .name-title {
  font-weight: 400;
  font-size: 18px;
  color: #262626;
  margin: 23px 0;
}

.total-container .product-info .product-info__items .product-info__box .product-table .product-card .product-sum .sum-name:nth-child(3) {
  border-bottom: 1px solid #f6f7f8;
}

.total-container .product-info .product-info__items .product-info__box .product-table .product-card .product-sum .product-total {
  margin-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.total-container .product-info .product-info__items .product-info__box .product-table .product-card .product-sum .product-total .total-title {
  font-size: 30px;
  font-weight: 500;
  color: #22262a;
  margin: 26px 0;
}

.total-container .product-info .product-info__items .product-info__box .product-table .product-card .product-sum .sum-btn {
  width: 374px;
  height: 60px;
  border: none;
  outline: none;
  background-color: #33a0ff;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  margin-bottom: 156px;
}

.total-container .product-info .product-items .product-item__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.total-container .footer {
  width: 100%;
  height: auto;
  background-color: var(--moviy);
  padding: 0 50px 0 50px;
}

.total-container .footer .upper-footer,
.total-container .footer .lower-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 20px 0;
}

.total-container .footer .upper-footer .footer-info,
.total-container .footer .lower-footer .footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 120px;
}

.total-container .footer .upper-footer .footer-info:first-child {
  width: 200px;
}

.total-container .footer .upper-footer .footer-info a,
.total-container p,
.total-container h3 {
  color: var(--qora);
}

.total-container .footer .upper-footer .footer-info .footer-logo a {
  font-size: 1.1rem;
  font-weight: 600;
}

.total-container .footer .upper-footer .footer-info p,
.total-container .footer .lower-footer .footer-info p {
  font-size: 12px;
}

.total-container .footer .upper-footer .footer-info .footer-social i {
  margin-right: 10px;
}

.total-container .footer .upper-footer .footer-info .footer-social i.fa-facebook-f {
  color: #054b6e;
}

.total-container .footer .upper-footer .footer-info .footer-social i.fa-twitter {
  color: #127cb1;
}

.total-container .main-menu .main-menu-options #check,
.total-container .main-menu .main-menu-options label .fa-bars-staggered,
.total-container .main-menu .main-menu-options label .fa-xmark {
  display: none;
}

.total-container .mobile-bottom-nav {
  display: none;
}

.total-container .image > img {
  width: 100%;
}

.container-modal {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 263vh;
  width: 100%;
  background: rgba(34, 34, 34, 0.3);
  z-index: 1000000;
}

.container-modal .pay-modal {
  width: 80%;
  max-width: 1200px;
  background: #fff;
  height: 792.84px;
  border-radius: 5px;
  z-index: 0;
}

.container-modal .pay-modal .pay-modal_direct {
  width: 100%;
}

.container-modal .pay-modal .pay-modal_direct .pay-modal_icons {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}

.container-modal .pay-modal .pay-modal_direct .pay-modal_icons .arrow-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.container-modal .pay-modal .pay-modal_direct .pay-modal_icons .arrow-icon .back-icon {
  width: 22px;
  height: 22px;
}

.container-modal .pay-modal .pay-modal_direct .pay-modal_icons .close-icon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container-modal .pay-modal .pay-modal_direct .pay-modal_icons .close-icon .close-icon {
  width: 22px;
  height: 22px;
}

.container-modal .pay-modal .pay-modal_direct .pay-modal_icons .pay-modal_title {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  color: #40bfff;
}

.container-modal .pay-modal .container-progressbar {
  font-family: "Nunito", sans-serif;
  width: 100%;
}

.container-modal .pay-modal .container-progressbar .progressbar {
  counter-reset: step;
  text-align: center;
}

.container-modal .pay-modal .container-progressbar .progressbar .number {
  list-style: none;
  display: inline-block;
  width: 12%;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.container-modal .pay-modal .container-progressbar .progressbar .number:before {
  content: counter(step);
  counter-increment: step;
  width: 36px;
  height: 34px;
  line-height: 32px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 10px auto;
  color: #fff;
  background-color: #dfdede;
  font-weight: 700;
  font-size: 18px;
}

.container-modal .pay-modal .container-progressbar .progressbar .number:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #dfdede;
  top: 17px;
  left: -50%;
  z-index: -1;
}

.container-modal .pay-modal .container-progressbar .progressbar .number:first-child:after {
  content: none;
}

.container-modal .pay-modal .container-progressbar .progressbar .number#active:before {
  background-color: #40bfff;
  text-shadow: 0 0 2px #000000 25%;
}

.container-modal .pay-modal .container-progressbar .progressbar .number#active + .number:after {
  background-color: #40bfff;
}

.container-modal .pay-modal .user-bios .user-bio {
  font-family: "Nunito", sans-serif;
  width: 80%;
  margin: 0 auto;
}

.container-modal .pay-modal .user-bios .user-bio .user-name,
.container-modal .pay-modal .user-bios .user-bio .user-address,
.container-modal .pay-modal .user-bios .user-bio .user-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-modal .pay-modal .user-bios .user-bio .user-name .input-name,
.container-modal .pay-modal .user-bios .user-bio .user-name .input-lastname {
  width: 380px;
  height: 50px;
  border: none;
  outline: none;
  background-color: #e0e0e0;
  border-radius: 10px;
  padding: 0 14px;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

.container-modal .pay-modal .user-bios .user-bio .user-name .input-name::-webkit-input-placeholder,
.container-modal .pay-modal .user-bios .user-bio .user-name .input-lastname::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  opacity: 1;
  color: #999999;
}

.container-modal .pay-modal .user-bios .user-bio .user-name .input-name:-ms-input-placeholder,
.container-modal .pay-modal .user-bios .user-bio .user-name .input-lastname:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  opacity: 1;
  color: #999999;
}

.container-modal .pay-modal .user-bios .user-bio .user-name .input-name::-ms-input-placeholder,
.container-modal .pay-modal .user-bios .user-bio .user-name .input-lastname::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  opacity: 1;
  color: #999999;
}

.container-modal .pay-modal .user-bios .user-bio .user-name .input-name::placeholder,
.container-modal .pay-modal .user-bios .user-bio .user-name .input-lastname::placeholder {
  font-size: 16px;
  font-weight: 400;
  opacity: 1;
  color: #999999;
}

.container-modal .pay-modal .user-bios .user-bio .user-address {
  margin-top: 32px;
}

.container-modal .pay-modal .user-bios .user-bio .user-address .input-address {
  width: 380px;
  height: 50px;
  border: none;
  outline: none;
  background-color: #e0e0e0;
  border-radius: 10px;
  padding: 0 14px;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

.container-modal .pay-modal .user-bios .user-bio .user-address .input-address::-webkit-input-placeholder {
  color: #999999;
}

.container-modal .pay-modal .user-bios .user-bio .user-address .input-address:-ms-input-placeholder {
  color: #999999;
}

.container-modal .pay-modal .user-bios .user-bio .user-address .input-address::-ms-input-placeholder {
  color: #999999;
}

.container-modal .pay-modal .user-bios .user-bio .user-address .input-address::placeholder {
  color: #999999;
}

.container-modal .pay-modal .user-bios .user-bio .user-address .textarea {
  margin-top: 12px;
  width: 382px;
  height: 122px;
  border-radius: 10px;
  padding: 16px;
  font-size: 16px;
  font-weight: 400;
  background-color: #dfdede;
  border: none;
  outline: none;
}

.container-modal .pay-modal .user-bios .user-bio .user-title {
  color: #40bfff;
  font-weight: 600;
  font-size: 20px;
}

.container-modal .pay-modal .user-bios .user-bio .user-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Poppins", sans-serif;
}

.container-modal .pay-modal .user-bios .user-bio .user-box .check-area .checks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 378px;
  height: 50px;
  position: relative;
  margin: 8px 0;
}

.container-modal .pay-modal .user-bios .user-bio .user-box .check-area .checks .check {
  cursor: pointer;
  display: block;
  width: 100%;
}

.container-modal .pay-modal .user-bios .user-bio .user-box .check-area .checks .check .check-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container-modal .pay-modal .user-bios .user-bio .user-box .check-area .checks .check .check-card .check-icon {
  width: 24px;
  height: 24px;
  margin: 0 0.5rem;
}

.container-modal .pay-modal .user-bios .user-bio .user-box .check-area .checks .check .check-card .check-title {
  color: #223263;
  font-size: 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.container-modal .pay-modal .user-bios .user-bio .user-box .check-area .checks .check .checked-table .checkmark {
  position: absolute;
  top: 28%;
  left: 90%;
  height: 24px;
  width: 24px;
  border: 1px solid #dfdede;
  border-radius: 5px;
}

.container-modal .pay-modal .user-bios .user-bio .user-box .check-area .checks .check .checked-table .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.container-modal .pay-modal .user-bios .user-bio .user-box .check-area .checks .check .checked-table .check-mark {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container-modal .pay-modal .user-bios .user-bio .user-box .check-area .checks .check .checked-table .check-mark:checked ~ .checkmark {
  background-color: #ebf0ff;
}

.container-modal .pay-modal .user-bios .user-bio .user-box .check-area .checks .check .checked-table .checkmark::after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #40bfff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.container-modal .pay-modal .user-bios .user-bio .user-box .check-area .checks .check .checked-table .check-mark:checked ~ .checkmark:after {
  display: block;
}

.container-modal .pay-modal .user-bios .user-bio .user-box .check-area .checks .check .checked-table:hover input ~ .checkmark {
  background-color: #ccc;
}

.container-modal .pay-modal .user-bios .user-bio .user-box .input-phone {
  margin-top: 27px;
  width: 380px;
  height: 50px;
  border: none;
  outline: none;
  background-color: #dfdede;
  border-radius: 10px;
  padding: 0 14px;
  font-size: 16px;
  font-weight: 400;
}

.container-modal .pay-modal .user-bios .btn-click {
  font-family: "Nunito", sans-serif;
  text-align: center;
}

.container-modal .pay-modal .user-bios .btn-click .btn-submit {
  width: 338px;
  height: 70px;
  margin-top: 27px;
  color: #fff;
  text-align: center;
  background-color: #33a0ff;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}

.container-modal .pay-modal .user-bios .btn-click .btn-submit {
  background-color: #2894f3;
}

@media (max-width: 1204px) {
  .container-modal .pay-modal {
    height: 1057px;
  }
  .container-modal .pay-modal .user-bios .user-bio .user-name,
  .container-modal .pay-modal .user-bios .user-bio .user-address,
  .container-modal .pay-modal .user-bios .user-bio .user-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 7px auto;
  }
  .container-modal .pay-modal .user-bios .user-bio .user-name .input-name,
  .container-modal .pay-modal .user-bios .user-bio .user-name .input-lastname {
    margin: 7px auto;
  }
  .container-modal .pay-modal .user-bios .user-bio .user-address .input-address {
    margin: 7px auto;
  }
  .container-modal .pay-modal .user-bios .user-bio .user-address .textarea {
    margin: 7px auto;
  }
  .container-modal .pay-modal .user-bios .user-bio .user-title {
    text-align: center;
  }
  .container-modal .pay-modal .user-bios .user-bio .user-box .check-area {
    margin: 0 auto;
  }
  .container-modal .pay-modal .user-bios .user-bio .user-box .input-phone {
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 950px) {
  .total-container .product-info .product-info__items .product-info__box .box-types {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table {
    display: block;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .product-table__list {
    display: none;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box {
    width: 80%;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box .box-card__content {
    width: 60%;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box .box-card__content .content-title {
    font-size: 21px;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box .box-card__content .box-card__quantity {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box .box-card__content .box-card__quantity .card-quantity .dash,
  .total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box .box-card__content .box-card__quantity .card-quantity .number,
  .total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box .box-card__content .box-card__quantity .card-quantity .add {
    border-radius: 3px;
    font-size: 18px;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box .box-card__content .box-card__quantity .card-money {
    font-size: 18px;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .product-card {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .main-menu .logo a {
    font-size: 14px;
    margin-left: 4px;
    color: var(--qora);
  }
  .main-menu .main-menu-options {
    position: relative;
  }
  .main-menu .main-menu-options ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    background-color: #f2f2f2;
    width: 300px;
    height: 100%;
    top: 0;
    bottom: 0;
    z-index: 1;
    right: -300px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .main-menu .main-menu-options #check,
  .main-menu .main-menu-options label i.fa-xmark {
    opacity: 0;
    right: 0;
    font-size: 22px;
  }
  .main-menu .main-menu-options label .fa-bars-staggered,
  .main-menu .main-menu-options label .fa-xmark {
    display: block;
  }
  .main-menu .main-menu-options #check:checked ~ ul {
    right: 0;
  }
  .main-menu .main-menu-options #check:checked ~ label i.fa-xmark {
    opacity: 1;
    position: fixed;
    z-index: 100;
    right: 250px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .main-menu .main-menu-options ul li {
    margin-left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  .main-menu .main-menu-options ul li a {
    font-size: 16px;
    color: var(--qora);
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .total-container .product-info .product-info__items .product-info__box .box-types {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table {
    display: block;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .product-table__list {
    display: none;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box {
    width: 100%;
    padding: 19px 17px;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box .card-img {
    width: 110px;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box .box-card__content {
    width: 55%;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box .box-card__content .content-title {
    font-size: 17px;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box .box-card__content .box-card__quantity {
    margin-top: 8px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box .box-card__content .box-card__quantity .card-quantity {
    width: 110px;
    height: 35px;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box .box-card__content .box-card__quantity .card-money {
    font-size: 20px;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .product-card {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .main-menu .logo a {
    font-size: 14px;
    margin-left: 4px;
    color: var(--qora);
  }
  .main-menu .main-menu-options {
    position: relative;
  }
  .main-menu .main-menu-options ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    background-color: rgba(214, 214, 214, 0.8);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    width: 300px;
    height: 100%;
    top: 0;
    bottom: 0;
    z-index: 1;
    right: -300px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .main-menu .main-menu-options #check,
  .main-menu .main-menu-options label i.fa-xmark {
    opacity: 0;
    right: 0;
    font-size: 22px;
  }
  .main-menu .main-menu-options label .fa-bars-staggered,
  .main-menu .main-menu-options label .fa-xmark {
    display: block;
  }
  /* .main-menu .main-menu-options label .fa-xmark::before{
    display: block;
} */
  .main-menu .main-menu-options #check:checked ~ ul {
    right: 0;
  }
  .main-menu .main-menu-options #check:checked ~ label i.fa-xmark {
    opacity: 1;
    position: fixed;
    z-index: 100;
    right: 250px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .main-menu .main-menu-options #check:checked ~ label i.fa-xmark::before {
    display: block;
  }
  .main-menu .main-menu-options ul li {
    margin-left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  .main-menu .main-menu-options ul li a {
    font-size: 16px;
    color: var(--qora);
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .upper-menu {
    display: none;
  }
  .mobile-bottom-nav {
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    will-change: transform;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* Sardor */
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    /* Sardor */
    height: 60px;
    -webkit-box-shadow: 0 -2px 5px -2px #333;
            box-shadow: 0 -2px 5px -2px #333;
    background-color: #fff;
  }
  .mobile-bottom-nav a {
    color: var(--qora);
  }
  .mobile-bottom-nav__item {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
    font-size: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .mobile-bottom-nav__item--active {
    color: var(--havorang);
  }
  .mobile-bottom-nav__item-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mobile-bottom-nav__item-content i {
    font-size: 1.1rem;
  }
  .highlight,
  .footer,
  .shipping-container,
  .news-container {
    display: none;
  }
  .total-container .product-info .product-info__items .product-info__box .box-types {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table {
    display: block;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .product-table__list {
    display: none;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box {
    width: 100%;
    padding: 19px 17px;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box .card-img {
    width: 110px;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box .box-card__content {
    width: 55%;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box .box-card__content .content-title {
    font-size: 17px;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box .box-card__content .box-card__quantity {
    margin-top: 8px;
    width: 77%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box .box-card__content .box-card__quantity .card-quantity {
    width: 110px;
    height: 35px;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box .box-card__content .box-card__quantity .card-quantity .dash,
  .total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box .box-card__content .box-card__quantity .card-quantity .number,
  .total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box .box-card__content .box-card__quantity .card-quantity .add {
    font-size: 16px;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .mobile-product__info .product-bio__box .box-card__content .box-card__quantity .card-money {
    font-size: 16px;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .product-card {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .product-card .product-card__input .input {
    width: 280px;
    height: 45px;
    font-size: 14px;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .product-card .product-card__input .input-btn {
    width: 104px;
    height: 47px;
    font-size: 16px;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .product-card .product-sum {
    width: 297px;
    margin: 11px auto;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .product-card .product-sum .sum-name .name-title {
    font-size: 16px;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .product-card .product-sum .product-total {
    margin: 0;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .product-card .product-sum .product-total .total-title {
    font-size: 24px;
  }
  .total-container .product-info .product-info__items .product-info__box .product-table .product-card .product-sum .sum-btn {
    width: 100%;
    margin-bottom: 80px;
  }
}
/*# sourceMappingURL=style.css.map */