@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200vh;
  width: 100%;
  background: rgba(34, 34, 34, 0.3);
}

.container .pay-modal {
  width: 80%;
  background: #fff;
  height: 792.84px;
  border-radius: 5px;
  z-index: 0;
}

.container .pay-modal .pay-modal_direct {
  width: 100%;
}

.container .pay-modal .pay-modal_direct .pay-modal_icons {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}

.container .pay-modal .pay-modal_direct .pay-modal_icons .arrow-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.container .pay-modal .pay-modal_direct .pay-modal_icons .arrow-icon .back-icon {
  width: 22px;
  height: 22px;
}

.container .pay-modal .pay-modal_direct .pay-modal_icons .close-icon {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container .pay-modal .pay-modal_direct .pay-modal_icons .close-icon .close-icon {
  width: 22px;
  height: 22px;
}

.container .pay-modal .pay-modal_direct .pay-modal_icons .pay-modal_title {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  color: #40bfff;
}

.container .pay-modal .container-progressbar {
  font-family: "Nunito", sans-serif;
  width: 100%;
}

.container .pay-modal .container-progressbar .progressbar {
  counter-reset: step;
  text-align: center;
}

.container .pay-modal .container-progressbar .progressbar .number {
  list-style: none;
  display: inline-block;
  width: 12%;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.container .pay-modal .container-progressbar .progressbar .number:before {
  content: counter(step);
  counter-increment: step;
  width: 36px;
  height: 34px;
  line-height: 32px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 10px auto;
  color: #fff;
  background-color: #dfdede;
  font-weight: 700;
  font-size: 18px;
}

.container .pay-modal .container-progressbar .progressbar .number:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #dfdede;
  top: 17px;
  left: -50%;
  z-index: -1;
}

.container .pay-modal .container-progressbar .progressbar .number:first-child:after {
  content: none;
}

.container .pay-modal .container-progressbar .progressbar .number#active:before {
  background-color: #40bfff;
  text-shadow: 0 0 2px #000000 25%;
}

.container .pay-modal .container-progressbar .progressbar .number#active + .number:after {
  background-color: #40bfff;
}

.container .pay-modal .user-bios .user-bio {
  font-family: "Nunito", sans-serif;
  width: 80%;
  margin: 0 auto;
}

.container .pay-modal .user-bios .user-bio .user-name,
.container .pay-modal .user-bios .user-bio .user-address,
.container .pay-modal .user-bios .user-bio .user-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .pay-modal .user-bios .user-bio .user-name .input-name,
.container .pay-modal .user-bios .user-bio .user-name .input-lastname {
  width: 380px;
  height: 50px;
  border: none;
  outline: none;
  background-color: #e0e0e0;
  border-radius: 10px;
  padding: 0 14px;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

.container .pay-modal .user-bios .user-bio .user-name .input-name::-webkit-input-placeholder,
.container .pay-modal .user-bios .user-bio .user-name .input-lastname::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  opacity: 1;
  color: #999999;
}

.container .pay-modal .user-bios .user-bio .user-name .input-name:-ms-input-placeholder,
.container .pay-modal .user-bios .user-bio .user-name .input-lastname:-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  opacity: 1;
  color: #999999;
}

.container .pay-modal .user-bios .user-bio .user-name .input-name::-ms-input-placeholder,
.container .pay-modal .user-bios .user-bio .user-name .input-lastname::-ms-input-placeholder {
  font-size: 16px;
  font-weight: 400;
  opacity: 1;
  color: #999999;
}

.container .pay-modal .user-bios .user-bio .user-name .input-name::placeholder,
.container .pay-modal .user-bios .user-bio .user-name .input-lastname::placeholder {
  font-size: 16px;
  font-weight: 400;
  opacity: 1;
  color: #999999;
}

.container .pay-modal .user-bios .user-bio .user-address {
  margin-top: 32px;
}

.container .pay-modal .user-bios .user-bio .user-address .input-address {
  width: 380px;
  height: 50px;
  border: none;
  outline: none;
  background-color: #e0e0e0;
  border-radius: 10px;
  padding: 0 14px;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

.container .pay-modal .user-bios .user-bio .user-address .input-address::-webkit-input-placeholder {
  color: #999999;
}

.container .pay-modal .user-bios .user-bio .user-address .input-address:-ms-input-placeholder {
  color: #999999;
}

.container .pay-modal .user-bios .user-bio .user-address .input-address::-ms-input-placeholder {
  color: #999999;
}

.container .pay-modal .user-bios .user-bio .user-address .input-address::placeholder {
  color: #999999;
}

.container .pay-modal .user-bios .user-bio .user-address .textarea {
  margin-top: 12px;
  width: 382px;
  height: 122px;
  border-radius: 10px;
  padding: 16px;
  font-size: 16px;
  font-weight: 400;
  background-color: #dfdede;
  border: none;
  outline: none;
}

.container .pay-modal .user-bios .user-bio .user-title {
  color: #40bfff;
  font-weight: 600;
  font-size: 20px;
}

.container .pay-modal .user-bios .user-bio .user-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Poppins', sans-serif;
}

.container .pay-modal .user-bios .user-bio .user-box .check-area .checks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 378px;
  height: 50px;
  position: relative;
  margin: 8px 0;
}

.container .pay-modal .user-bios .user-bio .user-box .check-area .checks .check {
  cursor: pointer;
  display: block;
  width: 100%;
}

.container .pay-modal .user-bios .user-bio .user-box .check-area .checks .check .check-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container .pay-modal .user-bios .user-bio .user-box .check-area .checks .check .check-card .check-icon {
  width: 24px;
  height: 24px;
  margin: 0 0.5rem;
}

.container .pay-modal .user-bios .user-bio .user-box .check-area .checks .check .check-card .check-title {
  color: #223263;
  font-size: 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.container .pay-modal .user-bios .user-bio .user-box .check-area .checks .check .checked-table .checkmark {
  position: absolute;
  top: 28%;
  left: 90%;
  height: 24px;
  width: 24px;
  border: 1px solid #dfdede;
  border-radius: 5px;
}

.container .pay-modal .user-bios .user-bio .user-box .check-area .checks .check .checked-table .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.container .pay-modal .user-bios .user-bio .user-box .check-area .checks .check .checked-table .check-mark {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container .pay-modal .user-bios .user-bio .user-box .check-area .checks .check .checked-table .check-mark:checked ~ .checkmark {
  background-color: #EBF0FF;
}

.container .pay-modal .user-bios .user-bio .user-box .check-area .checks .check .checked-table .checkmark::after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #40BFFF;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.container .pay-modal .user-bios .user-bio .user-box .check-area .checks .check .checked-table .check-mark:checked ~ .checkmark:after {
  display: block;
}

.container .pay-modal .user-bios .user-bio .user-box .check-area .checks .check .checked-table:hover input ~ .checkmark {
  background-color: #ccc;
}

.container .pay-modal .user-bios .user-bio .user-box .input-phone {
  margin-top: 27px;
  width: 380px;
  height: 50px;
  border: none;
  outline: none;
  background-color: #dfdede;
  border-radius: 10px;
  padding: 0 14px;
  font-size: 16px;
  font-weight: 400;
}

.container .pay-modal .user-bios .btn-click {
  font-family: 'Nunito', sans-serif;
  text-align: center;
}

.container .pay-modal .user-bios .btn-click .btn-submit {
  width: 338px;
  height: 70px;
  margin-top: 27px;
  color: #fff;
  text-align: center;
  background-color: #33a0ff;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}

.container .pay-modal .user-bios .btn-click .btn-submit {
  background-color: #2894f3;
}
/*# sourceMappingURL=style.css.map */