@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
    font-family: "proxima";
    src: url("./proxima/ProximaNova-Regular.otf");
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
:root {
    --havorang: #40bfff;
    --qizil: #ff4858;
    --moviy: #bcddfe;
    --qora: #373737;
}

body {
    width: 100%;
    background: #fff;
    font-family: "Poppins", sans-serif;
}

.total-container {
    position: relative;
    min-height: 263px;
    i:hover {
        cursor: pointer;
    }
    .header {
        height: 15vh;

        .header-nav {
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            background-color: #fff;
            z-index: 2;
        }
    }

    .upper-menu {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px 0 50px;
        font-size: 13px;
        border-bottom: 1px solid rgb(230, 229, 229);
    }
    .dropbtn {
        background-color: transparent;
        color: var(--qora);
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
    .en-usd {
        position: relative;
    }
    .en-usd ul {
        display: flex;
    }
    .en-usd ul li {
        margin-right: 8px;
    }
    .profile-cart {
        position: relative;
    }
    .profile-cart ul {
        display: flex;
    }
    .profile-cart ul li {
        margin-left: 13px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .profile-cart ul li a {
        color: var(--qora);
    }

    .main-menu {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px 0 50px;
    }
    .main-menu .logo {
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-menu .logo a {
        font-size: 14px;
        margin-left: 4px;
        color: var(--qora);
    }
    .main-menu .main-menu-options {
        position: relative;
    }
    .main-menu .main-menu-options ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-menu .main-menu-options ul li {
        margin-left: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .main-menu .main-menu-options ul li a {
        font-size: 16px;
        color: var(--qora);
        transition: 0.2s;
    }
    .main-menu .main-menu-options ul li a.active-link {
        color: var(--havorang);
    }
    .main-menu .main-menu-options ul li a:hover {
        color: var(--havorang);
    }

    .product-menu {
        font-family: "proxima";
        background-color: #f6f7f8;
        display: flex;
        justify-content: center;
        .product-menu__content {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            width: 1260px;
            height: 51px;
            .title-name {
                text-decoration: none;
                color: #33a0ff;
                font-size: 18px;
                font-weight: 400;
            }
            .title-name:nth-child(3) {
                color: #262626;
            }
        }
    }

    .product-info {
        font-family: "Poppins", sans-serif;
        display: flex;
        justify-content: center;
        background-color: #fff;

        .product-info__items {
            width: 1260px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 61px;
            .product-info__box {
                width: 100%;

                .box-types {
                    width: 100%;
                    .box-type__titles {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        padding: 8px 20px;
                        border-bottom: 1px solid #f6f7f8;
                        .title {
                            width: 52%;
                            font-weight: 500;
                            font-size: 20px;
                            color: #22262a;
                        }
                        .box-type__content {
                            width: 48%;
                            display: flex;
                            justify-content: space-between;
                            .content-title {
                                font-weight: 500;
                                font-size: 20px;
                                color: #22262a;
                            }
                        }
                    }
                }

                .product-table {
                    width: 100%;
                    .product-table__list {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding-top: 63px;
                        padding-bottom: 53px;
                        border-bottom: 1px solid #f6f7f8;
                        .product-table__img {
                            width: 52%;
                            display: flex;
                            align-items: center;
                            .table-icon {
                                width: 23px;
                                height: 22px;
                            }
                            .table-img {
                                width: 138px;
                                height: 94px;
                                margin: 15px 25px;
                            }
                            .product-table__title {
                                font-size: 18px;
                                font-weight: 400;
                                color: #262626;
                            }
                        }
                        .product-table__info {
                            width: 48%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            .info-title1,
                            .info-title2 {
                                font-family: "Poppins", sans-serif;
                                font-weight: 400;
                                font-size: 18px;
                                color: #262626;
                            }
                            .info-title2 {
                                width: 20%;
                            }
                            .product-collect {
                                font-family: "proxima";
                                background-color: #f6f7f8;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                width: 124px;
                                height: 46px;
                                padding: 0 18px;
                                .product-collect__number {
                                    color: #262626;
                                    font-size: 18px;
                                    font-weight: 400;
                                }
                                .product-collect__dash,
                                .product-collect__add {
                                    color: #33a0ff;
                                    font-size: 20px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                    .mobile-product__info {
                        display: none;
                        justify-content: center;
                        align-items: center;
                        .product-bio__box {
                            border-bottom: 1px solid #e6e5e5;
                            width: 250px;
                            padding: 20px 0;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .card-img {
                                width: 150px;
                                border-radius: 5px;
                            }
                            .box-card__content {
                                .content-title {
                                    font-size: 32px;
                                    font-weight: 500;
                                }
                                .box-card__quantity {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    .card-quantity {
                                        width: 128px;
                                        height: 45px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-evenly;
                                        margin-right: 8px;
                                        border-radius: 3px;
                                        background-color: #f6f7f8;
                                        cursor: pointer;
                                        .dash,
                                        .number,
                                        .add {
                                            border-radius: 3px;
                                            font-size: 21px;
                                            font-weight: 500;
                                        }
                                        .add,
                                        .dash {
                                            color: #33a0ff;
                                        }
                                    }
                                    .card-money {
                                        font-size: 22px;
                                        font-weight: 600;
                                    }
                                }
                            }
                            .card-icon {
                                width: 30px;
                                height: 25px;
                            }
                        }
                    }

                    .product-card {
                        font-family: "Poppins", sans-serif;
                        display: flex;
                        justify-content: space-between;
                        align-items: baseline;
                        margin-top: 90px;
                        padding: 0 26px;
                        .product-card__input {
                            display: flex;
                            align-items: center;
                            .input {
                                padding-left: 10px;
                                width: 367px;
                                height: 58px;
                                border: none;
                                outline: none;
                                font-weight: 400;
                                font-size: 16px;
                                border: 1px solid #f1f3f4;
                            }
                            .input-btn {
                                width: 118px;
                                height: 60px;
                                color: #fff;
                                font-weight: 500;
                                background-color: #33a0ff;
                                border-radius: 0 5px 5px 0;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                        .product-sum {
                            width: 375px;
                            margin: 0 auto;
                            .sum-name {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                .name-title {
                                    font-weight: 400;
                                    font-size: 18px;
                                    color: #262626;
                                    margin: 23px 0;
                                }
                            }
                            .sum-name:nth-child(3) {
                                border-bottom: 1px solid #f6f7f8;
                            }
                            .product-total {
                                margin-top: 28px;
                                display: flex;
                                justify-content: space-between;
                                .total-title {
                                    font-size: 30px;
                                    font-weight: 500;
                                    color: #22262a;
                                    margin: 26px 0;
                                }
                            }
                            .sum-btn {
                                width: 374px;
                                height: 60px;
                                border: none;
                                outline: none;
                                background-color: #33a0ff;
                                color: #fff;
                                font-size: 18px;
                                font-weight: 500;
                                border-radius: 5px;
                                margin-bottom: 156px;
                            }
                        }
                    }
                }
            }
        }

        .product-items {
            .product-item__menu {
                display: flex;
                align-items: center;
                justify-content: space-around;
                // background-color: red;
            }
        }
    }

    .footer {
        width: 100%;
        height: auto;
        // margin-top: 30px;
        background-color: var(--moviy);
        padding: 0 50px 0 50px;
    }
    .footer .upper-footer,
    .footer .lower-footer {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        // margin-bottom: 20px;
        padding: 20px 0;
    }
    .footer .upper-footer .footer-info,
    .footer .lower-footer .footer-info {
        display: flex;
        flex-direction: column;
        width: 120px;
    }
    .footer .upper-footer .footer-info:first-child {
        width: 200px;
    }
    .footer .upper-footer .footer-info a,
    p,
    h3 {
        color: var(--qora);
    }
    .footer .upper-footer .footer-info .footer-logo a {
        font-size: 1.1rem;
        font-weight: 600;
    }
    .footer .upper-footer .footer-info p,
    .footer .lower-footer .footer-info p {
        font-size: 12px;
    }
    .footer .upper-footer .footer-info .footer-social i {
        margin-right: 10px;
    }
    .footer .upper-footer .footer-info .footer-social i.fa-facebook-f {
        color: #054b6e;
    }
    .footer .upper-footer .footer-info .footer-social i.fa-twitter {
        color: #127cb1;
    }

    .main-menu .main-menu-options #check,
    .main-menu .main-menu-options label .fa-bars-staggered,
    .main-menu .main-menu-options label .fa-xmark {
        display: none;
    }
    .mobile-bottom-nav {
        display: none;
    }
    /* Sardor vaqtincha yozdi */
    .image > img {
        width: 100%;
    }
}

.container-modal {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    min-height: 263vh;
    width: 100%;
    background: rgba(34, 34, 34, 0.3);
    z-index: 1000000;
    .pay-modal {
        width: 80%;
        max-width: 1200px;
        background: #fff;
        height: 792.84px;
        border-radius: 5px;
        z-index: 0;
        .pay-modal_direct {
            width: 100%;
            .pay-modal_icons {
                width: 80%;
                margin: 0 auto;
                padding: 50px 0;
                .arrow-icon {
                    display: flex;
                    justify-content: flex-start;
                    width: 100%;
                    .back-icon {
                        width: 22px;
                        height: 22px;
                    }
                }
                .close-icon {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    .close-icon {
                        width: 22px;
                        height: 22px;
                    }
                }
                .pay-modal_title {
                    font-family: "Raleway", sans-serif;
                    text-align: center;
                    font-weight: 600;
                    font-size: 32px;
                    color: #40bfff;
                }
            }
        }

        .container-progressbar {
            font-family: "Nunito", sans-serif;
            width: 100%;
            .progressbar {
                counter-reset: step;
                text-align: center;
                .number {
                    list-style: none;
                    display: inline-block;
                    width: 12%;
                    position: relative;
                    text-align: center;
                    cursor: pointer;
                }
                .number:before {
                    content: counter(step);
                    counter-increment: step;
                    width: 36px;
                    height: 34px;
                    line-height: 32px;
                    border-radius: 50%;
                    display: block;
                    margin: 0 auto 10px auto;
                    color: #fff;
                    background-color: #dfdede;
                    font-weight: 700;
                    font-size: 18px;
                }
                .number:after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: #dfdede;
                    top: 17px;
                    left: -50%;
                    z-index: -1;
                }
                .number:first-child:after {
                    content: none;
                }
                // .number#active {
                //     color: green;
                // }
                .number#active:before {
                    background-color: #40bfff;
                    text-shadow: 0 0 2px #000000 25%;
                }
                .number#active + .number:after {
                    background-color: #40bfff;
                }
            }
        }
        .user-bios {
            .user-bio {
                font-family: "Nunito", sans-serif;
                width: 80%;
                margin: 0 auto;
                .user-name,
                .user-address,
                .user-box {
                    display: flex;
                    justify-content: space-between;
                }
                .user-name {
                    .input-name,
                    .input-lastname {
                        width: 380px;
                        height: 50px;
                        border: none;
                        outline: none;
                        background-color: #e0e0e0;
                        border-radius: 10px;
                        padding: 0 14px;
                        font-size: 16px;
                        font-weight: 400;
                        color: #000000;
                    }
                    .input-name::placeholder,
                    .input-lastname::placeholder {
                        font-size: 16px;
                        font-weight: 400;
                        opacity: 1;
                        color: #999999;
                    }
                }
                .user-address {
                    margin-top: 32px;
                    .input-address {
                        width: 380px;
                        height: 50px;
                        border: none;
                        outline: none;
                        background-color: #e0e0e0;
                        border-radius: 10px;
                        padding: 0 14px;
                        font-size: 16px;
                        font-weight: 400;
                        color: #000000;
                    }
                    .input-address::placeholder {
                        color: #999999;
                    }
                    .textarea {
                        margin-top: 12px;
                        width: 382px;
                        height: 122px;
                        border-radius: 10px;
                        padding: 16px;
                        font-size: 16px;
                        font-weight: 400;
                        background-color: #dfdede;
                        border: none;
                        outline: none;
                    }
                }
                .user-title {
                    color: #40bfff;
                    font-weight: 600;
                    font-size: 20px;
                }

                .user-box {
                    display: flex;
                    font-family: "Poppins", sans-serif;
                    .check-area {
                        // width: 100%;
                        .checks {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 378px;
                            height: 50px;
                            position: relative;
                            margin: 8px 0;
                            .check {
                                cursor: pointer;
                                display: block;
                                width: 100%;
                                .check-card {
                                    display: flex;
                                    align-items: center;
                                    justify-content: flex-start;
                                    .check-icon {
                                        width: 24px;
                                        height: 24px;
                                        margin: 0 0.5rem;
                                    }
                                    .check-title {
                                        color: #223263;
                                        font-size: 12px;
                                        user-select: none;
                                        font-weight: 700;
                                        letter-spacing: 0.5px;
                                    }
                                }

                                .checked-table {
                                    .checkmark {
                                        position: absolute;
                                        top: 28%;
                                        left: 90%;
                                        height: 24px;
                                        width: 24px;
                                        border: 1px solid #dfdede;
                                        border-radius: 5px;
                                    }

                                    .checkmark::after {
                                        content: "";
                                        position: absolute;
                                        display: none;
                                    }

                                    .check-mark {
                                        position: absolute;
                                        opacity: 0;
                                        cursor: pointer;
                                        height: 0;
                                        width: 0;
                                    }

                                    .check-mark:checked ~ .checkmark {
                                        background-color: #ebf0ff;
                                    }
                                    .checkmark::after {
                                        left: 7px;
                                        top: 3px;
                                        width: 5px;
                                        height: 10px;
                                        border: solid #40bfff;
                                        border-width: 0 3px 3px 0;
                                        transform: rotate(45deg);
                                    }
                                    .check-mark:checked ~ .checkmark:after {
                                        display: block;
                                    }
                                }

                                .checked-table:hover input ~ .checkmark {
                                    background-color: #ccc;
                                }
                            }
                        }
                    }
                    .input-phone {
                        margin-top: 27px;
                        width: 380px;
                        height: 50px;
                        border: none;
                        outline: none;
                        background-color: #dfdede;
                        border-radius: 10px;
                        padding: 0 14px;
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }

            .btn-click {
                font-family: "Nunito", sans-serif;
                text-align: center;
                .btn-submit {
                    width: 338px;
                    height: 70px;
                    margin-top: 27px;
                    color: #fff;
                    text-align: center;
                    background-color: #33a0ff;
                    border: none;
                    outline: none;
                    border-radius: 10px;
                    font-size: 24px;
                    font-weight: 700;
                    cursor: pointer;
                }
                .btn-submit {
                    background-color: #2894f3;
                }
            }
        }
    }
}

@media (max-width: 1204px) {
    .container-modal {
        .pay-modal {
            height: 1057px;
            .user-bios {
                .user-bio {
                    .user-name,
                    .user-address,
                    .user-box {
                        flex-direction: column;
                        margin: 7px auto;
                    }
                    .user-name {
                        .input-name,
                        .input-lastname {
                            margin: 7px auto;
                        }
                    }
                    .user-address {
                        .input-address {
                            margin: 7px auto;
                        }
                        .textarea {
                            margin: 7px auto;
                        }
                    }
                    .user-title {
                        text-align: center;
                    }
                    .user-box {
                        .check-area {
                            margin: 0 auto;
                        }
                        .input-phone {
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 950px) {
    .total-container {
        .product-info {
            .product-info__items {
                .product-info__box {
                    .box-types {
                        display: none;
                        flex-direction: column;
                        //    width: 0;
                    }
                    .product-table {
                        display: block;
                        .product-table__list {
                            display: none;
                        }

                        .mobile-product__info {
                            display: flex;
                            width: 100%;
                            .product-bio__box {
                                width: 80%;
                                .box-card__content {
                                    width: 60%;
                                    .content-title {
                                        font-size: 21px;
                                    }
                                    .box-card__quantity {
                                        justify-content: space-between;
                                        .card-quantity {
                                            .dash,
                                            .number,
                                            .add {
                                                border-radius: 3px;
                                                font-size: 18px;
                                            }
                                        }
                                        .card-money {
                                            font-size: 18px;
                                        }
                                    }
                                }
                            }
                        }
                        .product-card {
                            display: grid;
                            justify-content: center;
                            flex-direction: column;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .main-menu .logo a {
        font-size: 14px;
        margin-left: 4px;
        color: var(--qora);
    }
    .main-menu .main-menu-options {
        position: relative;
    }
    .main-menu .main-menu-options ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        background-color: #f2f2f2;
        width: 300px;
        height: 100%;
        top: 0;
        bottom: 0;
        z-index: 1;
        right: -300px;
        transition: 0.3s;
    }
    .main-menu .main-menu-options #check,
    .main-menu .main-menu-options label i.fa-xmark {
        opacity: 0;
        right: 0;
        font-size: 22px;
    }
    .main-menu .main-menu-options label .fa-bars-staggered,
    .main-menu .main-menu-options label .fa-xmark {
        display: block;
    }
    .main-menu .main-menu-options #check:checked ~ ul {
        right: 0;
    }
    .main-menu .main-menu-options #check:checked ~ label i.fa-xmark {
        opacity: 1;
        position: fixed;
        z-index: 100;
        right: 250px;
        transition: 0.3s;
    }
    .main-menu .main-menu-options ul li {
        margin-left: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }
    .main-menu .main-menu-options ul li a {
        font-size: 16px;
        color: var(--qora);
        transition: 0.2s;
    }
    .total-container {
        .product-info {
            .product-info__items {
                .product-info__box {
                    .box-types {
                        display: none;
                        flex-direction: column;
                        //    width: 0;
                    }
                    .product-table {
                        display: block;
                        .product-table__list {
                            display: none;
                        }

                        .mobile-product__info {
                            display: flex;
                            width: 100%;
                            .product-bio__box {
                                width: 100%;
                                padding: 19px 17px;
                                .card-img {
                                    width: 110px;
                                }
                                .box-card__content {
                                    width: 55%;
                                    .content-title {
                                        font-size: 17px;
                                    }
                                    .box-card__quantity {
                                        margin-top: 8px;
                                        width: 100%;
                                        display: flex;
                                        justify-content: space-between;
                                        .card-quantity {
                                            width: 110px;
                                            height: 35px;
                                        }
                                        .card-money {
                                            font-size: 20px;
                                        }
                                    }
                                }
                            }
                        }
                        .product-card {
                            display: grid;
                            justify-content: center;
                            flex-direction: column;
                        }
                    }
                }
            }
        }
    }

    .container-modal {
        .pay-modal {
            .user-bios {
                .user-bio {
                    .user-name {
                        .input-name,
                        .input-lastname {
                            width: 312px;
                        }
                    }
                    .user-address{
                        .input-address, .textarea{
                            width: 312px;
                        }
                    }
                    .user-box{
                        .check-area{
                            .checks{
                                width: 312px;
                            }
                        }
                        .input-phone{
                            width: 312px;
                        }
                    }
                }
                .btn-click{
                    .btn-submit{
                        font-size: 19px;
                        width: 248px;
                        height: 51px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .main-menu .logo a {
        font-size: 14px;
        margin-left: 4px;
        color: var(--qora);
    }
    .main-menu .main-menu-options {
        position: relative;
    }
    .main-menu .main-menu-options ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        background-color: rgba(214, 214, 214, 0.8);
        backdrop-filter: blur(10px);
        width: 300px;
        height: 100%;
        top: 0;
        bottom: 0;
        z-index: 1;
        right: -300px;
        transition: 0.3s;
    }
    .main-menu .main-menu-options #check,
    .main-menu .main-menu-options label i.fa-xmark {
        opacity: 0;
        right: 0;
        font-size: 22px;
    }
    .main-menu .main-menu-options label .fa-bars-staggered,
    .main-menu .main-menu-options label .fa-xmark {
        display: block;
    }
    /* .main-menu .main-menu-options label .fa-xmark::before{
    display: block;
} */
    .main-menu .main-menu-options #check:checked ~ ul {
        right: 0;
    }
    .main-menu .main-menu-options #check:checked ~ label i.fa-xmark {
        opacity: 1;
        position: fixed;
        z-index: 100;
        right: 250px;
        transition: 0.3s;
    }
    .main-menu .main-menu-options #check:checked ~ label i.fa-xmark::before {
        display: block;
    }
    .main-menu .main-menu-options ul li {
        margin-left: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }
    .main-menu .main-menu-options ul li a {
        font-size: 16px;
        color: var(--qora);
        transition: 0.2s;
    }

    .upper-menu {
        display: none;
    }
    .mobile-bottom-nav {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        will-change: transform;
        transform: translateZ(0);
        display: flex;
        /* Sardor */
        justify-content: space-evenly;
        align-items: center;
        /* Sardor */
        height: 60px;
        box-shadow: 0 -2px 5px -2px #333;
        background-color: #fff;
    }

    .mobile-bottom-nav a {
        color: var(--qora);
    }
    .mobile-bottom-nav__item {
        flex-grow: 1;
        text-align: center;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
    .mobile-bottom-nav__item--active {
        color: var(--havorang);
    }
    .mobile-bottom-nav__item-content {
        display: flex;
        flex-direction: column;
    }
    .mobile-bottom-nav__item-content i {
        font-size: 1.1rem;
    }
    .highlight,
    .footer,
    .shipping-container,
    .news-container {
        display: none;
    }

    .total-container {
        .product-info {
            .product-info__items {
                .product-info__box {
                    .box-types {
                        display: none;
                        flex-direction: column;
                        //    width: 0;
                    }
                    .product-table {
                        display: block;
                        .product-table__list {
                            display: none;
                        }

                        .mobile-product__info {
                            display: flex;
                            width: 100%;
                            .product-bio__box {
                                width: 100%;
                                padding: 19px 17px;
                                .card-img {
                                    width: 110px;
                                }
                                .box-card__content {
                                    width: 55%;
                                    .content-title {
                                        font-size: 17px;
                                    }
                                    .box-card__quantity {
                                        margin-top: 8px;
                                        width: 77%;
                                        display: flex;
                                        justify-content: space-between;
                                        .card-quantity {
                                            width: 110px;
                                            height: 35px;
                                            .dash,
                                            .number,
                                            .add {
                                                font-size: 16px;
                                            }
                                        }
                                        .card-money {
                                            font-size: 16px;
                                        }
                                    }
                                }
                            }
                        }
                        .product-card {
                            display: grid;
                            justify-content: center;
                            flex-direction: column;
                            .product-card__input {
                                .input {
                                    width: 280px;
                                    height: 45px;
                                    font-size: 14px;
                                }
                                .input-btn {
                                    width: 104px;
                                    height: 47px;
                                    font-size: 16px;
                                }
                            }
                            .product-sum {
                                width: 297px;
                                margin: 11px auto;
                                // margin: ;
                                .sum-name {
                                    .name-title {
                                        font-size: 16px;
                                    }
                                }
                                .product-total {
                                    margin: 0;
                                    .total-title {
                                        font-size: 24px;
                                    }
                                }
                                .sum-btn {
                                    width: 100%;
                                    margin-bottom: 80px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .container-modal {
        .pay-modal {
            
            .pay-modal_direct{
               .pay-modal_icons{
                .arrow-icon{
                    .back-icon{
                        width: 16px;
                    }
                }
                .close-icon{
                    .close-btn{
                        width: 16px;
                    }
                }
                .pay-modal_title{
                    font-size: 22px;
                }
               }
            }

.container-progressbar{
    .progressbar{
        .number::before{
            line-height: 30px;
            width: 31px;
            height: 29px;
        }
        .number::after{

            top:14px;
        }
    }
}

            .user-bios {
                .user-bio {
                    .user-name {
                        .input-name,
                        .input-lastname {
                            width: 228px;
                            height: 41px;
                        }
                    }
                    .user-address{
                        .input-address{
                            width: 228px;
                            height: 41px;
                        }
                         .textarea{
                            width: 228px;
                        }
                    }
                    .user-box{
                        .check-area{
                            .checks{
                                width: 228px;
                            }
                        }
                        .input-phone{
                            width: 228px;
                            height: 41px;
                        }
                    }
                }
                .btn-click{
                    .btn-submit{
                        font-size: 15px;
                        width: 193px;
                        height: 36px;
                    }
                }
            }
        }
    }
}
